---
layout: post
---
<article class="post">
  <div class="post-content">
    {{ content }}
  </div>
  <section>
    <!-- block 1 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>September 2024</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r1p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2024-09-15">September 15, 2024</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r1p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2024-09-15">September 15, 2024</time>

        </div>
      </div>


    </div>

    <!-- block 2 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>January 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r2p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-01-14">January 14, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r2p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-01-14">January 14, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r2p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-01-14">January 14, 2025</time>
        </div>
      </div>
    </div>

    <!-- block 3 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>June 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-20">June 20, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-20">June 20, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-20">June 20, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p4.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-20">June 20, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p5.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-24">June 24, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p6.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-24">June 24, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p7.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-24">June 24, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p8.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-28">June 28, 2025</time>

        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r3p9.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-06-28">June 28, 2025</time>

        </div>
      </div>


    </div>

    <!-- block 4 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>July 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r4p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-07-02">July 2, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r4p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-07-02">July 2, 2025</time>

        </div>
      </div>
    </div>


    <!-- block 5 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>August 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r5p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-08-04">August 4, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r5p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-08-22">August 22, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r5p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-08-24">August 24, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r5p4.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-08-24">August 24, 2025</time>
        </div>
      </div>
    </div>

    <!-- block 6 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>September 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r6p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-09-14">September 14, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r6p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-09-14">September 14, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r6p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-09-27">September 27, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r6p4.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-09-27">September 27, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r6p5.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-09-28">September 28, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r6p6.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-09-28">September 28, 2025</time>
        </div>
      </div>
    </div>


    <!-- block 7 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>October 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-01">October 1, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-02">October 2, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-04">October 4, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p4.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-05">October 5, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p5.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-05">October 5, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p6.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-08">October 8, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p7.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-08">October 8, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p8.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-08">October 8, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p9.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-11">October 11, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p10.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-11">October 11, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p11.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-16">October 16, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p12.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-16">October 16, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p13.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-23">October 23, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p14.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-23">October 23, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p15.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-26">October 26, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p16.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-26">October 26, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p17.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-28">October 28, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r7p18.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-10-28">October 28, 2025</time>
        </div>
      </div>
    </div>


    <!-- block 8 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>November 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-03">November 3, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-03">November 3, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-04">November 3, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p4.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-04">November 3, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p5.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-11">November 11, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p6.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-11">November 11, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p7.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-11">November 11, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p8.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-14">November 14, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p9.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-20">November 20, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p10.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-20">November 20, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p11.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-24">November 24, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p12.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-29">November 29, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p13.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-29">November 29, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p14.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-29">November 29, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r8p15.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-11-29">November 29, 2025</time>
        </div>
      </div>
    </div>




    <!-- block 9 -->
    <div class='gallery-grid'>
      <div class="acne-text">
        <h1>December 2025</h1>
      </div>
      <div class="pic-row">
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p1.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-05">December 5, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p2.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-05">December 5, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p3.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-05">December 5, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p4.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-14">December 14, 2025</time>
        </div>

        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p5.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-14">December 14, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p6.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-14">December 14, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p7.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-30">December 30, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p8.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-30">December 30, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p9.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-30">December 30, 2025</time>
        </div>
        <div class="date-flex">
          <div class='acne-pic'>
            <img src="/img/acne-photos/acne-r9p10.webp" alt="acne-photo">
          </div>
          <time class='acne-date' datetime="2025-12-30">December 30, 2025</time>
        </div>
      </div>

      <!-- block 10 -->
      <div class='gallery-grid'>
        <div class="acne-text">
          <h1>January 2026</h1>
        </div>
        <div class="pic-row">
          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p1.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-03">January 3, 2025</time>
          </div>

          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p2.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-03">January 3, 2025</time>
          </div>

          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p3.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-03">January 3, 2025</time>
          </div>

          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p4.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-03">January 3, 2025</time>
          </div>

          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p5.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-05">January 5, 2025</time>
          </div>
          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p6.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-05">January 5, 2025</time>
          </div>
          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p7.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-05">January 5, 2025</time>
          </div>
          <div class="date-flex">
            <div class='acne-pic'>
              <img src="/img/acne-photos/acne-r10p8.webp" alt="acne-photo">
            </div>
            <time class='acne-date' datetime="2026-01-05">January 5, 2025</time>
          </div>
        </div>


        <!-- block 11 -->
        <div class='gallery-grid'>
          <div class="acne-text">
            <h1>February 2026</h1>
          </div>
          <div class="pic-row">
            <div class="date-flex">
              <div class='acne-pic'>
                <img src="/img/acne-photos/acne-r11p1.webp" alt="acne-photo">
              </div>
              <time class='acne-date' datetime="2026-02-03">February 3, 2026</time>
            </div>

            <div class="date-flex">
              <div class='acne-pic'>
                <img src="/img/acne-photos/acne-r11p2.webp" alt="acne-photo">
              </div>
              <time class='acne-date' datetime="2026-02-03">February 3, 2026</time>
            </div>

            <div class="date-flex">
              <div class='acne-pic'>
                <img src="/img/acne-photos/acne-r11p3.webp" alt="acne-photo">
              </div>
              <time class='acne-date' datetime="2026-02-03">February 3, 2026</time>
            </div>

            <div class="date-flex">
              <div class='acne-pic'>
                <img src="/img/acne-photos/acne-r11p4.webp" alt="acne-photo">
              </div>
              <time class='acne-date' datetime="2026-02-03">February 3, 2026</time>
            </div>
          </div>


          <!-- block 12 -->
          <div class='gallery-grid'>
            <div class="acne-text">
              <h1>March 2026</h1>
            </div>
            <div class="pic-row">
              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p1.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-06">March 6, 2026</time>
              </div>

              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p2.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-06">March 6, 2026</time>
              </div>

              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p3.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-06">March 6, 2026</time>
              </div>

              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p4.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-06">March 6, 2026</time>
              </div>
              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p5.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-22">March 22, 2026</time>
              </div>
              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p6.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-22">March 22, 2026</time>
              </div>
              <div class="date-flex">
                <div class='acne-pic'>
                  <img src="/img/acne-photos/acne-r12p7.webp" alt="acne-photo">
                </div>
                <time class='acne-date' datetime="2026-03-22">March 22, 2026</time>
              </div>
            </div>

            <!-- block 13 -->
            <div class='gallery-grid'>
              <div class="acne-text">
                <h1>April 2026</h1>
              </div>
              <div class="pic-row">
                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p1.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-04">April 4, 2026</time>
                </div>

                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p2.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-04">April 4, 2026</time>
                </div>

                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p3.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-04">April 4, 2026</time>
                </div>

                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p4.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-06">April 6, 2026</time>
                </div>
                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p5.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-07">April 7, 2026</time>
                </div>
                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p6.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-07">April 7, 2026</time>
                </div>
                <div class="date-flex">
                  <div class='acne-pic'>
                    <img src="/img/acne-photos/acne-r13p7.webp" alt="acne-photo">
                  </div>
                <time class='acne-date' datetime="2026-04-07">April 7, 2026</time>
                </div>
              </div>


  </section>
</article>